@media (1020px <= width) {
  .main-container {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

.logo {
  margin-top: 50px;
  width: 130px;
  height: 20px;
}
@media (1024px <= width) {
  .logo {
    margin-top: 15px;
    margin-left: 10px;
  }
}

.try {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  text-align: center;
  padding-top: 6px;
  width: 150px;
  height: 30px;
  margin-top: 40px;
  font-family: "Poppins";
  box-shadow: 0px 0px 3px rgba(72, 82, 153, 0.2666666667);
}
@media (1024px <= width) {
  .try {
    margin-top: 15px;
    margin-right: 10px;
  }
}

.imagen {
  margin: 30px 40px;
  width: 80%;
  height: 250px;
}
@media (1024px <= width) {
  .imagen {
    width: 700px;
    height: 500px;
  }
}

.top {
  background-image: url(/images/bg-hero-mobile.svg);
  background-color: hsl(193deg, 100%, 96%);
}
@media (1024px <= width) {
  .top {
    margin: auto;
  }
}

.top-contenido {
  display: block;
}
@media (1024px <= width) {
  .top-contenido {
    display: flex;
  }
}

@media (1024px <= width) {
  .build {
    align-self: flex-start;
    padding: 50px;
  }
}

.subtitle {
  margin-top: 50px;
  padding: 28px;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
}
@media (1024px <= width) {
  .subtitle {
    text-align: start;
    font-size: 35px;
    line-height: 45px;
    padding: 0px;
    padding-top: 60px;
  }
}

.text {
  line-height: 25px;
  display: block;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}
@media (1024px <= width) {
  .text {
    text-align: start;
    line-height: 23px;
    font-size: 17px;
    padding: 1px;
    margin-top: 10px;
  }
}

.boton {
  margin-left: 30px;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  margin: 30px 52px;
  text-align: center;
  background-color: hsl(322deg, 100%, 66%);
  box-shadow: 3px 3px 5px rgba(72, 82, 153, 0.2666666667);
  border: none;
}
@media (1024px <= width) {
  .boton {
    align-self: flex-end;
    margin-left: 0;
  }
}

.boton:hover {
  background-color: rgb(255, 0, 149);
}

.medio {
  padding-top: 50px;
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
}
@media (1024px <= width) {
  .medio {
    max-width: 1500px;
    margin: auto;
  }
}
.medio .text1 {
  display: block;
  margin-top: 50px;
}
@media (1024px <= width) {
  .medio .text1 {
    padding: 30px;
    text-align: start;
    width: 500px;
    height: 200px;
  }
}
.medio .grow {
  margin-top: 40px;
  box-shadow: 0px 0px 3px rgba(72, 82, 153, 0.2666666667);
  text-align: center;
  padding: 30px;
  margin-left: 14px;
  width: 380px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.medio .grow img {
  width: 220px;
  height: 220px;
}
@media (1024px <= width) {
  .medio .grow img {
    width: 400px;
    height: 300px;
    margin: auto;
  }
}
.medio .grow p {
  margin-top: 25px;
  color: hsl(208deg, 11%, 55%);
}
@media (1024px <= width) {
  .medio .grow p {
    font-size: 18px;
  }
}
.medio .grow h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
@media (1024px <= width) {
  .medio .grow {
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    height: 400px;
    margin: 40px auto;
    box-shadow: 1px 1px 5px rgba(72, 82, 153, 0.3764705882);
  }
}
.medio .flowing {
  margin-top: 40px;
  box-shadow: 0px 0px 3px rgba(72, 82, 153, 0.2666666667);
  text-align: center;
  padding: 30px;
  margin-left: 14px;
  width: 380px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.medio .flowing img {
  width: 220px;
  height: 220px;
}
@media (1024px <= width) {
  .medio .flowing img {
    width: 400px;
    height: 300px;
    margin: auto;
  }
}
.medio .flowing p {
  margin-top: 25px;
  color: hsl(208deg, 11%, 55%);
}
@media (1024px <= width) {
  .medio .flowing p {
    font-size: 18px;
  }
}
.medio .flowing h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
@media (1024px <= width) {
  .medio .flowing {
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    height: 400px;
    margin: 40px auto;
    box-shadow: 1px 1px 5px rgba(72, 82, 153, 0.3764705882);
  }
}
.medio .your {
  margin-top: 40px;
  box-shadow: 0px 0px 3px rgba(72, 82, 153, 0.2666666667);
  text-align: center;
  padding: 30px;
  margin-left: 14px;
  width: 380px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.medio .your img {
  width: 220px;
  height: 220px;
}
@media (1024px <= width) {
  .medio .your img {
    width: 400px;
    height: 300px;
    margin: auto;
  }
}
.medio .your p {
  margin-top: 25px;
  color: hsl(208deg, 11%, 55%);
}
@media (1024px <= width) {
  .medio .your p {
    font-size: 18px;
  }
}
.medio .your h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
@media (1024px <= width) {
  .medio .your {
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    height: 400px;
    margin: 40px auto;
    box-shadow: 1px 1px 5px rgba(72, 82, 153, 0.3764705882);
  }
}

@media (1024px <= width) {
  .grow img {
    order: 1;
  }
}

@media (1024px <= width) {
  .your img {
    order: 1;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (1020px <= width) {
  body {
    width: 100%;
  }
}

.footer {
  margin-top: 250px;
  color: white;
  background-color: #001c24;
}
@media (1024px <= width) {
  .footer {
    width: 100%;
    height: 600px;
  }
}

@media (1024px <= width) {
  .footer-1 {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin: auto auto;
  }
}

.escala {
  background-color: white;
  margin-left: 12px;
  height: 180px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0px 0px 3px rgba(72, 82, 153, 0.2666666667);
  z-index: 50;
  margin-top: 150px;
  position: absolute;
  font-weight: 700;
}
@media (1024px <= width) {
  .escala {
    justify-content: center;
    margin-left: 288px;
    margin-top: 100px;
    width: 700px;
    height: 200px;
  }
}

.escala-1 {
  text-align: center;
  padding-top: 40px;
  z-index: 30;
}
.escala-1 button {
  margin-top: 30px;
  width: 230px;
  height: 40px;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: hsl(322deg, 100%, 66%);
  box-shadow: 3px 3px 5px rgba(72, 82, 153, 0.2666666667);
  border: none;
  z-index: 30;
}
@media (1024px <= width) {
  .escala-1 button {
    width: 300px;
    height: 60px;
  }
}
.escala-1 h4 {
  font-weight: 700;
  font-size: 18px;
  color: rgb(0, 0, 0);
}
@media (1024px <= width) {
  .escala-1 h4 {
    font-size: 28px;
  }
}
.escala-1 button:hover {
  background-color: hsla(322deg, 99%, 50%, 0.986);
}

.rei img {
  width: 180px;
  height: 30px;
  background-color: white;
  margin-top: 150px;
}
@media (1024px <= width) {
  .rei img {
    margin-top: 200px;
    width: 200px;
    height: 40px;
    margin-left: 75px;
  }
}

.datos {
  margin-left: 0px;
  margin-top: 15px;
  display: block;
  padding: 0px;
}
.datos .datos__1 {
  display: flex;
  margin: 5px;
  margin-top: 10px;
}
@media (1024px <= width) {
  .datos .datos__1 {
    margin-top: 18px;
  }
}
.datos img {
  margin-top: 7px;
  width: 20px;
  height: 20px;
  margin-left: 3px;
}
.datos p {
  color: #f1f3f4;
  font-size: 17px;
  line-height: 30px;
  padding-right: 10px;
  margin-left: 15px;
}
@media (1024px <= width) {
  .datos {
    display: block;
  }
}

.datos-1 {
  margin-top: 25px;
  margin-left: 20px;
}
@media (1024px <= width) {
  .datos-1 ul {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 50px 50px 50px;
  }
}
.datos-1 ul li {
  list-style: none;
  padding-top: 15px;
  color: hsl(200deg, 12%, 95%);
}

@media (1024px <= width) {
  ul li:nth-child(2) {
    grid-column: 1;
  }
}

@media (1024px <= width) {
  ul li:nth-child(3) {
    grid-column: 1 span/2;
  }
}

@media (1024px <= width) {
  ul li:nth-child(4) {
    grid-row: 1/4;
    grid-column: 2/2;
  }
}

@media (1024px <= width) {
  ul li:nth-child(5) {
    grid-column: 2/2;
    grid-row: 2/3;
  }
}

@media (1024px <= width) {
  ul li:nth-child(6) {
    grid-column: 2;
    grid-row: 3/3;
  }
}

.end {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 60px;
}
@media (1024px <= width) {
  .end {
    margin-top: 20px;
    text-align: start;
  }
}
.end img {
  margin: 7px;
  background-color: black;
  border: 1px solid hsl(200deg, 12%, 95%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.end p {
  margin-top: 10px;
  font-size: 15px;
  padding: 15px;
  color: hsl(200deg, 12%, 95%);
}
@media (1024px <= width) {
  .end p {
    margin-top: 140px;
  }
}/*# sourceMappingURL=estilo.css.map */